/* Main CSS file */

/* import other styles file */
@import url('layout.css');
@import url('spacing.css');
@import url('colors.css');
@import url('typography.css');
@import url('effect.css');


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #A9BE8A;
    color: white;
}

main {
    font-family: "Jua", sans-serif;
}

/*green button*/
.green-button {
    font-family: 'Arial', sans-serif;
    width: 100%;
    background-color: #A7BC87;
    color: white;
    padding: 15px 0;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    display: block; 
    cursor: pointer;
    box-sizing: border-box;
    
}

.green-button:hover {
    background-color: #92a771;
}