/* spacing.css */

/* Navigation Bar */
.top-banner {
    padding: 10px 0;
}

.main-nav {
    padding: 0px 50px;
}

.nav-links {
    gap: 45px;
}

.dropdown-content, .sub-dropdown-content {
    padding: 0; 
}  

.dropdown-content a, .sub-dropdown-content a {
    padding: 12px 16px;
}

.search input[type="text"] {
    padding: 10px;
}

.icons {
    gap: 25px;
}

/* Hero Section */
.hero {
    padding: 10px 100px;
}

.hero button {
    padding: 10px 20px;
}

.best-sellers-section {
    padding: 45px 100px;
    gap: 30px;
}

/* Quick Access Button */
.quick-access-buttons {
    gap: 25px;
    margin-right: 20px;
}

.quick-access-button {
    padding: 10px 20px;
}

.best-sellers h2 {
    margin-bottom: 20px;
    margin-left: 0px;
}

/* Product List */
.products {
    gap: 25px;
}

.product {
    padding: 20px;
}

.product p {
    margin: 5px 0;
}

.products .product .price {
    margin-bottom: 5px;
}

.product-info .price {
    margin: 5px 0;
}

.price {
    gap: 10px;
}

.product-section {
    padding: 20px 0;
}

.products .product .rating {
    gap: 1px;
    margin-top: 5px;
}

.sale-tag {
    padding: 5px 8px;
}

.product-images {
    margin-right: 100px;
}

/* Footer */
footer {
    padding: 10px 200px;
}

.footer-section ul li {
    margin: 5px 0;
}

/* Breadcrumb */
.breadcrumb-section {
    padding: 10px 0px;
    margin: 10px auto;
}

/* Banner */
.banner-section {
    padding: 20px;
    margin: 10px auto;
}

.banner-content {
    gap: 20px;
}

.banner-title {
    margin: 0;
}

/* Category */
.product-category-section {
    padding: 20px 0;
}

.product-category-buttons {
    gap: 10px;
    padding: 20px;
}

.product-category-button {
    padding: 10px;
}

.product-category-button img {
    margin-bottom: 10px;
}

/* Product Page Info */
.product-detail-section {
    padding: 20px;
    margin: 0 auto;
}

.product-info h2 {
    margin-bottom: 10px;
}

.product-info p {
    margin-bottom: 10px;
}

.stock-status {
    padding: 5px 8px;
}

.thumbnail-images {
    gap: 10px;
    margin-top: 10px;
}


/* Variations */
.colors {
    gap: 20px;
}

.colors img {
    margin: 5px;
}

.size-quantity {
    gap: 20px;
    margin-bottom: 20px;
}

.variations {
    margin: 20px 0;
}

.size-section label, .quantity-section label {
    margin-bottom: 5px;
}

.size-quantity select {
    margin-right: 20px;
    padding: 12px 40px;
}

.quantity button {
    padding: 10px;
}


.quantity input {
    padding: 10px;
}

#dog-name  {
    padding: 15px;
    margin: 10px 0;
}

.add-to-cart-button {
    padding: 15px;
}

.accordion {
    margin: 40px auto;
}

.accordion-header {
    padding: 15px;
}

.item-quantity {
    gap: 5px;
}

.quantity-button {
    padding: 5px 10px;
}

.quantity-input {
    padding: 5px;
}

.item-price {
    margin-right: 20px;
}

.cart-content {
    gap: 20px;
}

.cart-items {
    gap: 20px;
}

.cart-item {
    padding: 20px;
}

.item-details {
    margin-left: 20px;
}

/* cart total */
.cart-summary {
    padding: 20px;
}

.summary-item, .summary-total {
    margin-bottom: 10px;
}

.summary-total {
    margin-top: 20px;
}

.checkout-button {
    padding: 15px;
}

/* vheckout */
.check-container {
    margin: 0 auto;
    padding: 20px;
}

/* button */
.back-button {
    margin-bottom: 20px;
}

.back-button img {
    margin-right: 8px;
}

.checkout-title {
    margin-bottom: 20px;
}

/* checkoutcontent */
.checkout-content {
    gap: 20px;
}

/* form */
.form-section {
    gap: 20px;
}

.form-group {
    padding: 20px;
}

.form-group h2 {
    margin-bottom: 10px;
}

.form-row {
    gap: 10px;
    margin-bottom: 10px;
}

.form-row input, .form-row select {
    padding: 10px;;
}

.summary-box {
    padding: 20px;
}

.summary-box h2 {
    margin-bottom: 20px;
}

.summary-item {
    margin-bottom: 10px;
}

.summary-item img {
    margin-right: 10px;
}

.summary-item div {
    flex: 1;
}

.summary-item p {
    margin: 0;
}


.summary-totals {
    margin-top: 20px;
}

.summary-total {
    margin-top: 10px;
}

.pay-button {
    padding: 15px;
}

/* comfirmation container */
.confirmation-container {
    margin-top: 80px;
    margin-bottom: 80px;
}

.confirmation-box {
    padding: 40px;
}

.confirmation-box p {
    padding: 20px;
}

.back-home-button {
    margin-top: 20px;
    padding: 15px 30px;
}